## 4. Proporção entre os tipos de bebida por país.

Nesta análise, verificamos quanto cada tipo de bebida (cerveja, vinho e destilado) representa em relação ao total de porções consumidas por país.

Para isso, somamos as quantidades de ```beer_servings```, ```wine_servings``` e ```spirit_servings``` para obter o total de porções (```total_servings```) e, em seguida, calculamos a proporção de cada bebida com base nesse total.

Essa análise permite identificar preferências relativas entre os tipos de bebida em cada país, revelando, por exemplo, onde o consumo é fortemente voltado para um único tipo, como a predominância de vinho em países do sul da Europa ou de cerveja na Europa Central.

In [25]:
import pandas as pd

In [26]:
datasetPath = '../../data/drinks.csv'
df = pd.read_csv(datasetPath)

In [27]:
df['total_servings'] = df['beer_servings'] + df['spirit_servings'] + df['wine_servings']

df_nonzero = df[df['total_servings'] > 0].copy()

df_nonzero['beer_ratio'] = df_nonzero['beer_servings'] / df_nonzero['total_servings']
df_nonzero['spirit_ratio'] = df_nonzero['spirit_servings'] / df_nonzero['total_servings']
df_nonzero['wine_ratio'] = df_nonzero['wine_servings'] / df_nonzero['total_servings']

display(df_nonzero)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
1,Albania,89,132,54,4.9,275,0.323636,0.480000,0.196364
2,Algeria,25,0,14,0.7,39,0.641026,0.000000,0.358974
3,Andorra,245,138,312,12.4,695,0.352518,0.198561,0.448921
4,Angola,217,57,45,5.9,319,0.680251,0.178683,0.141066
5,Antigua & Barbuda,102,128,45,4.9,275,0.370909,0.465455,0.163636
...,...,...,...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,436,0.763761,0.229358,0.006881
189,Vietnam,111,2,1,2.0,114,0.973684,0.017544,0.008772
190,Yemen,6,0,0,0.1,6,1.000000,0.000000,0.000000
191,Zambia,32,19,4,2.5,55,0.581818,0.345455,0.072727
192,Zimbabwe,64,18,4,4.7,86,0.744186,0.209302,0.046512

### 4.1 Consumo de cerveja.

In [28]:
df_portions_ratio_nonzero_sorted_by_beer_ratio_desc = df_nonzero.query('beer_ratio > 0').sort_values(by='beer_ratio', ascending=False)

Países que menos consomem.

In [29]:
df_portions_ratio_nonzero_top_beer_ratio = df_portions_ratio_nonzero_sorted_by_beer_ratio_desc.head(10)
display(df_portions_ratio_nonzero_top_beer_ratio[['country', "beer_ratio"]])

       country  beer_ratio
19      Bhutan    1.000000
27     Burundi    1.000000
190      Yemen    1.000000
56     Eritrea    1.000000
117    Namibia    0.989474
189    Vietnam    0.973684
31    Cameroon    0.967105
164  Swaziland    0.957447
142     Rwanda    0.955556
24      Brunei    0.911765

Países que mais consomem.

In [30]:
df_portions_ration_nonzero_bottom_beer_ratio = df_portions_ratio_nonzero_sorted_by_beer_ratio_desc.tail(10)
display(df_portions_ration_nonzero_bottom_beer_ratio[['country', "beer_ratio"]])

                  country  beer_ratio
168            Tajikistan    0.117647
113            Montenegro    0.113553
96                Liberia    0.109827
178                Tuvalu    0.107143
181  United Arab Emirates    0.102564
7                 Armenia    0.099526
167                 Syria    0.089286
77                  India    0.073171
137                 Qatar    0.020000
73                  Haiti    0.003049

### 4.2 Consumo de destilados.

In [31]:
df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc = df_nonzero.query('spirit_ratio > 0').sort_values(by='spirit_ratio', ascending=False)

Países que menos consomem.

In [32]:
df_portions_ratio_nonzero_top_spirit_ratio = df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc.head(10)
display(df_portions_ratio_nonzero_top_spirit_ratio[['country', "spirit_ratio"]])

                  country  spirit_ratio
149          Saudi Arabia      1.000000
73                  Haiti      0.993902
77                  India      0.926829
168            Tajikistan      0.882353
96                Liberia      0.878613
161             Sri Lanka      0.866667
181  United Arab Emirates      0.865385
7                 Armenia      0.848341
137                 Qatar      0.840000
50               Dominica      0.785714

Países que mais consomem.

In [33]:
df_portions_ration_nonzero_bottom_spirit_ratio = df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc.tail(10)
display(df_portions_ration_nonzero_bottom_spirit_ratio[['country', "spirit_ratio"]])

           country  spirit_ratio
6        Argentina      0.056948
142         Rwanda      0.044444
175        Tunisia      0.040541
172           Togo      0.035088
28   Cote d'Ivoire      0.022222
164      Swaziland      0.021277
189        Vietnam      0.017544
39           Congo      0.011628
117        Namibia      0.007895
31        Cameroon      0.006579

### 4.3 Consumo de vinho.

In [34]:
df_portions_ratio_nonzero_sorted_by_wine_ratio_desc = df_nonzero.query('wine_ratio > 0').sort_values(by='wine_ratio', ascending=False)

Países que menos consomem.

In [35]:
df_portions_ratio_nonzero_top_wine_ratio = df_portions_ratio_nonzero_sorted_by_wine_ratio_desc.head(10)
display(df_portions_ratio_nonzero_top_wine_ratio[['country', "wine_ratio"]])

                 country  wine_ratio
55     Equatorial Guinea    0.716923
171          Timor-Leste    0.666667
92                  Laos    0.664865
83                 Italy    0.651099
148  Sao Tome & Principe    0.598291
185              Uruguay    0.594595
61                France    0.570988
136             Portugal    0.565000
6              Argentina    0.503417
166          Switzerland    0.495575

Países que mais consomem.

In [36]:
df_portions_ration_nonzero_bottom_wine_ratio = df_portions_ratio_nonzero_sorted_by_wine_ratio_desc.tail(10)
display(df_portions_ration_nonzero_bottom_wine_ratio[['country', "wine_ratio"]])

         country  wine_ratio
59          Fiji    0.008850
189      Vietnam    0.008772
30      Cambodia    0.008130
188    Venezuela    0.006881
122    Nicaragua    0.005076
134  Philippines    0.003876
73         Haiti    0.003049
169     Thailand    0.002793
117      Namibia    0.002632
72        Guyana    0.002525